[submodule "scaling-dev"]
	path = scaling-dev
	url = https://gitlab.esss.lu.se/epics-modules/scaling.git
	ignore = all
[submodule "scaling"]
	path = scaling
	url = https://gitlab.esss.lu.se/epics-modules/scaling.git
